
@{
    ViewBag.Title = "PostJob";
}

<h2>PostJob</h2>
<section class="block">
    <div class="container">
        <div class="title-group line-default">
            <h1 class="selected">Create job</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing  labore et dolore magna</p>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="list-2">
                    <!-- Product-item -->
                    <a class="thumb-item">
                        <i class="fa fa-file-text-o"></i>
                        <h4 class="heading">Company profile<br></h4>
                    </a>
                    <a class="thumb-item">
                        <i class="fa fa-sticky-note-o"></i>
                        <h4 class="heading">Mange jobs<br></h4>
                    </a>
                    <a class="thumb-item">
                        <i class="fa fa-cloud-upload"></i>
                        <h4 class="heading">Post job<br></h4>
                    </a>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="box p-40">
                    <div></div>
                    <h4 class="heading line-default line-default-left m-b-40 p-t-0 f-30 f-weight-500">Create job<br></h4>
                    <form>
                        <input type="text" class="form-item" placeholder="Job title">
                        <select class="form-item">
                            <option>Industry</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                            <option>Option 5</option>
                            <option>Option 6</option>
                        </select>
                        <select class="form-item">
                            <option>Location</option>
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                            <option>Option 5</option>
                        </select>
                        <select class="form-item">
                            <option>Salary</option>
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                            <option>Option 5</option>
                        </select>
                        <select class="form-item">
                            <option>Type</option>
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                            <option>Option 5</option>
                        </select>
                        <select class="form-item">
                            <option>Positions</option>
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                            <option>Option 5</option>
                        </select>
                        <select class="form-item">
                            <option>Experience</option>
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                            <option>Option 5</option>
                        </select>
                        <select class="form-item">
                            <option>Gender</option>
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                            <option>Option 5</option>
                        </select>
                        <input type="text" class="form-item" placeholder="Address">
                        <textarea class="form-item h-200 p-15" placeholder="Description"></textarea>
                        <a href="#" class="ht-btn bg-4f84c4 col-lg-offset-3">Post Job</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

